body, html {
  margin: 0;
  padding: 0;
  background: #fefafd;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

section {
  display: none;
  position: relative;
  padding: 30px;
  background: white;
  margin: 0px auto;
  width: 600px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-bottom: 4px solid antiquewhite;
}

button.action {
  border: none;
  background: white;
  font-size: 2em;
  border-radius: 8px;
  width: 160px;
  height: 160px;
  margin: 0px 30px;
  cursor: pointer;
}

button.action.green        {background: #00b894;}
button.action.green:hover  {background: #55efc4;}
button.action.aqua         {background: #00cec9;}
button.action.aqua:hover   {background: #81ecec;}
button.action.blue         {background: #0984e3;}
button.action.blue:hover   {background: #74b9ff;}
button.action.grey         {background: #b2bec3;}
button.action.grey:hover   {background: #dfe6e9;}
button.action.yellow       {background: #fdcb6e;}
button.action.yellow:hover {background: #ffeaa7;}
button.action.peach        {background: #e17055;}
button.action.peach:hover  {background: #fab1a0;}
button.action.red          {background: #d63031;}
button.action.red:hover    {background: #ff7675;}
button.action.violet       {background: #e84393;}
button.action.violet:hover {background: #fd79a8;}
